<!DOCTYPE html>
<html ng-app="testApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .t{
            width: 300px;
            height: 300px;
            background: #000000;
        }
    </style>
</head>
<body ng-controller="mainCtrl">
<div>
    <div class="listClass" ng-repeat="aa in aas">
        <span>{{aa.name}}</span>
        <div ng-repeat="cont in aa.cont">
            <span>{{cont.title}}</span>
            <span>{{cont.text}}</span>
        </div>
    </div>
</div>
<script src="../app/lib/framework/jquery-1.9.1.js"></script>
<script src="../app/lib/framework/angular.js"></script>
<script>
    var myApp = angular.module('testApp',[]);
    myApp.controller('mainCtrl',function($scope,$timeout){

        $scope.aas = [
            {
                "name":"产品信息",  //// end ingredients
                "cont":[
                    {
                      "title":"型号",
                      "text":"大口径佛考核"
                    },
                    {
                        "title":"电压",
                        "text":"222v"
                    }
                ]

            },
            {
                "name":"产品参数",
                "cont":[
                    {
                        "title":"型号1",
                        "text":"大口2径佛考核"
                    }
                ]
            }
        ]

    });
</script>
</body>
</html>