@import "bootstrapLess/bootstrap.less";

@fore-color:@brand-primary;
@back-color:#1F1F1F;
@my-font-color:#D0D0D0;
@middleMargin:0 auto;
@p30:30px;
@p10:10px;
ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
a{
  text-decoration:none;
}
ul li a:hover,ul li a:focus,div a:hover,div a:focus{
  text-decoration:none;
}
.text-overflow(@maxWidth:100%){
     display:block;
     max-width:@maxWidth;
     text-overflow:ellipsis;
     white-space:nowrap;
     overflow:hidden;
};
.transition(@style:all,@interval:0.75s,@type:linear){
  transition:@style @interval @type;
  -webkit-transition:@style @interval @type;
  -moz-transition:@style @interval @type;
}
.box-shadow(@x,@y,@b,@color:@gray-lighter,@type:none){
  box-shadow:@x @y @b @color @type;
  -webkit-box-shadow:@x @y @b @color @type;
  -moz-box-shadow:@x @y @b @color @type;
}
.container .row{  // 清除bootstrap默认的边距 统一所有
  margin-left:0;
  margin-right:0;
}

.container .col-md-4{ // 清除bootstrap默认的边距 统一所有
  padding-right: 0;
  padding-left: 0;
}
.border(top,@size:1px,@type:solid,@color:@back-color){
  border-top:@size @type @color;
}
.border(left,@size:1px,@type:solid,@color:@back-color){
  border-left:@size @type @color;
}
.border(right,@size:1px,@type:solid,@color:@back-color){
  border-right:@size @type @color;
}
.border(bottom,@size:1px,@type:solid,@color:@back-color){
  border-bottom:@size @type @color;
}
.border(@size:1px,@type:solid,@color:@gray-lighter){
   border:@size @type @color;
}
.new-btn(@backgroundColor:@back-color){
  font-size:@font-size-large - 2;
  background:@backgroundColor;
  color: #fff;
  padding-left:@p10*2;
  padding-right:@p10*2;
  font-weight:bold;
  margin-top:@p10 + 2;
}
// 因为是共用的 所以前面归类为 commonVar.less 单独文件 @import引入即可);


//移动导航
.nav-mobile{
  @navH:100px;
  z-index:200;
  position: absolute;
  right: 0;
  transform:translateX(118px);
  top: 6px;
  .transition(transform,0.4s,ease-out);
  .clearfix();
  &.showNav{
    transform:translateX(0px);
  }
  button.nav-mobile-btn{
    display: block;
    border: 1px solid @gray-dark;
    font-size: @font-size-h1;
    &:active{
      color:#fff;
      background-color: @fore-color;
    }
  }
  button.nav-mobile-btn,ul.nav-mobile-menu{
    float: left;
  }
  button.nav-mobile-btn,ul.nav-mobile-menu li a{
    background:@back-color;
    text-align: center;
    display: block;
    color: @my-font-color;
    height: @navH;
    line-height: @navH;
    padding-left: @p10 * 3;
    padding-right: @p10 * 3;
  }
  ul.nav-mobile-menu{
     li{
      .transition(all,0.3s,ease-out);
      border: 1px solid @gray-darker;
      &.activeNav{
      border-right: 8px solid @fore-color;
      }
    }
  }

} // end nav-mobile


//开始!!!
.head{
  @white-color:#fff;
  .border(top,6px,solid,@fore-color);
  padding-top:@p30;
  padding-bottom:@p30;
  background:#2B2B2B;
  color:@white-color;
  .head-inner{
     padding-top:@p30 - 10;
     .logo{
       padding-left:0;
       padding-right:0;
       h1{
         line-height:1;
         margin:0;
         a{
           letter-spacing:-8px;
           font-size:72px;
           text-decoration: none;
           color:@white-color;
         }
         span{
           font-size:@font-size-base;
           color:@my-font-color;
         }
       }  // end h1
     } // end logo

    .other{
       text-align:right;
       p{
         letter-spacing:1px;
         color:@gray-light;
         font-size:@font-size-base;
         margin-bottom:0;
       }
      .other-box{
        padding-top:5px;
        button{
          @h:40px;
          height:@h;
          line-height:@h - 10;
          width:30%;
          font-size:@font-size-base;
          margin-left:-4px;
          border: none;
          color:@white-color;
          text-shadow:0 1px 0px rgba(0,0,0,0.2);
          &.btn-default{
            background: @back-color;
          }
          span.glyphicon{
             margin-right:@p10;
          }
        }
      }
    } // end other
  }  // end head-inner
} // end head

.main{
  .main-top {
    @h: 30px;
    .nav {
      ul.nav-menu {
        li.navItem {
          float: left;
          padding-top: @h;
          padding-bottom: @h;
          text-align: center;
          position: relative;
          &.navActive {
            background-color: @fore-color;
          }
          & a.navItemLink:hover {
            color: @gray-base;
          }
          & span.itemIcon {
            position: absolute;
            left:45%;
            display: block;
            color: @gray-light;
            height:10px;
          }
          &.navActive a.navItemLink {
            color: @gray-base;
            border-right: none;
          }
          &:hover ul.nav-menu-two {
            display: block;
          }
          a {
            margin: @middleMargin;
            &.navItemLink {
              .border(right, 1px, solid, @gray-light);
              padding-left: @p10 * 3;
              padding-right: @p10 * 3;
              color: @gray-light;
            }
          }
          // end a
        }
        // end li
      }
      // end nav-menu
      ul.nav-menu-two {
        background-color: rgba(0, 0, 0, 0.8);
        padding-left: @p10 * 2;
        padding-right: @p10 * 2;
        padding-top: @p10 + 5;
        padding-bottom: @p10 + 5;
        position: absolute;
        top: @p10 * 7;
        left: -30px;
        display: none;
        z-index:99;
        li {
          position: relative;
          padding-left: @p10 * 4;
          padding-right: @p10 * 4;
          padding-top: @p10;
          padding-bottom: @p10;
          text-align: center;
          &:hover {
            background: @fore-color;
          }
          &:hover a {
            color: @gray-darker;
          }
          //        &:hover a:before{
          //          content:Glyphicons Halflings;
          //          text-indent:10px;
          //          font-family: "Georgia";
          //        }
          a {
            display: block;
            color: #fff;
            white-space: nowrap;
          }
        }
      }
      // end nav-menu-two
    }
    // end big-nav

    .search {
      margin-top: @h - 5;
      .form-group {
        margin-bottom: 0;
        input {
          height: 38px;
          color: @gray;
          border-color: @gray-lighter;
          box-shadow: none;
        }
        span.glyphicon {
          font-size: @font-size-large - 2;
          right: 22px;
        }
      }
    }
  }  // end main-top

  .main-slider{
    border: 1px solid @gray-lighter;
    border-radius: 3px;
    .slider{
      padding:@p30/2;
      .carousel{
        ul.carousel-inner{
          width: 100%;
          position: relative;
          overflow: hidden;
          height:450px;
          margin-bottom: 0;
          li{
            display: block;
            width: 100%;
            position: absolute;
            opacity: 0;
            .transition(opacity,0.7s,linear);
            a{
              display: block;
              position: relative;
              div.slider-txt-box{
                .transition(right,0.8s,ease-out);
                position: absolute;
                right:-100%;
                top:0;
                &.sliderTxtActive{
                  right:0;
                }
                .clearfix();
                span{
                  color: #fff;
                  text-align: center;
                  display:block;
                  float: left;
                  background: rgba(0,0,0,0.4);
                  @h:40px;
                  height:@h;
                  line-height:@h;
                }
                span.glyphicon{
                   top:0px;
                   padding-left: @p10+5;
                   padding-right: @p10+5;
                   border-right:1px solid rgba(0,0,0,0.2);
                }
                span.slider-txt{
                  padding-left: @p30 + 10;
                  padding-right: @p30 + 10;
                  .text-overflow(193px);
                }
              }
            }
            img{
              width: 100%;
              min-width: 768px;
//             设置最小宽度防止最小化时导致耳朵高度收缩
            }
            &.slideActive{
              opacity: 1;
            }
          }
        }  // end ul.carousel-inner
      div.carousel-index{
         position: absolute;
         left: 45%;
         bottom: 0;
         text-align: center;
         a{
           .transition(color,0.4s,linear);
          font-size:@font-size-large * 2;
          color:@back-color;
          &.selectActive{
            color: @fore-color;
          }
         }
      } // end carousel-index
     } // end carousel
    }  // edn slider
  } // end main-slider

  .main-info{
    margin-top:@p30 * 1.2;
    .info-cont{
      margin-top:@p10 + 5;
      .col-md-8{
        width:54%;
        .clearfix();
        div{
          float:left;
          width:33%;
          padding:@p10/2;
          .border();
          .box-shadow(2px,2px,2px);
          cursor: pointer;
          img{
            display: block;
            height:100%;
            width: 100%;
          }
        }
      }
      .col-md-4{
        width:46%;
        color:@gray-light;
        h4{
          margin-top:23px;
          letter-spacing: 2px;
          color:@gray-light;
          font-weight:bold;
        }
        div.cont-txt,div.cont-txt-main{
          width:100%;
          line-height:2;
          margin-top:25px;
        }
        button{
          margin-top:@p10 - 2;
          font-size:@font-size-large;
          padding-left: @p10*2 + 5;
          padding-right: @p10*2+ 5;
          padding-top: @p10 - 5;
          padding-bottom: @p10 - 5;
        }
      } // end col-md-4
    }
  } // end main-info

  .h3-listItem(){  // 产品列表通用的头部样式
    display: block;
    float: left;
    background: #fff;
    letter-spacing: 2px;
    margin-bottom:-3px;
  }

  .main-productItem{
    margin-top: @p30 + 20;
    .productItem-head{
      .border(bottom,1px,solid,@gray-lighter);
      .clearfix();
      h3{
        .h3-listItem()
      }
    }  // end item-head
    .productItem-cont{
      @itemHeight:494px; // 参考的最大高度
      @itemMargin-10:10px;
      margin-top:@p10 + 5;
      a.p-item{
        position: relative;
        display: block;
        float: left;
        cursor: pointer;
        margin-bottom: @itemMargin-10;
        span{
          @h:35px;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height:@h;
          line-height:@h;
          padding-left:@p10;
          padding-right:@p10;
          white-space:nowrap;
          background:rgba(255,255,255,0.5);
          color:@gray;
          .text-overflow(100%);
        }
        img{
          height:100%;
          width:100%;
        }
      } // end a

      .p-left{
       .clearfix();
       a.p-item{
         width: 100%;
         height:@itemHeight;
       }
      } // end p-left

      .p-right{
       padding-left: 0;
       padding-right: 0;
       .clearfix();
        a.p-item{
          width: 49%;
          height: (@itemHeight - @itemMargin-10)/2;
          margin-left:1%;

          &:nth-last-child(1){
            width: 34%;
          }
          &:nth-last-child(2){
            width: 64%;
          }
        }
      }// end p-right

    } // end productItem-cont

  } // end main-productItem

  .main-point{
      margin-top:@p30 + 20;
    .point-head{
      .border(bottom,1px,solid,@gray-lighter);
      .clearfix();
      h3{
        .h3-listItem()
      }
    }
    .point-cont{
      margin-top:@p30 - 5;
      .col-md-12{
        .clearfix();
        padding:0;
        div.point-cont-item{
          float: left;
          margin-right:2.63157895%;
          width:23%;
             &.clearRightMargin{
               margin-right:0;
             }
             &:hover a.glyphicon{
               transform:rotate(360deg);
             }
          h4{
            color:@gray-light;
            letter-spacing: 2px;
            font-weight:bold;
          }

          .cont-item-icon{
            margin-top:@p10 * 2;
            .clearfix();
            a{
              color: @gray-dark;
            }
            a{
              .transition();
              transform:rotate(0deg);
              display:block;
              float:left;
              font-size:@font-size-h1;
              margin-right:15px;
            }
            span{
              font-size:@font-size-small;
            }

          }
          .cont-item-desc{
            margin-top:@p10;
            color: @gray-light;
            font-size:@font-size-small;
            letter-spacing:1px;
            line-height:2;
          }
          button{
            .new-btn();
            display:block;
            &:hover{
              background:@fore-color;
            }
          }
        } // end point-cont-item
      }
    }
  } // end main-point
  .main-other{
    margin-top:@p30*2;
    h3{
      letter-spacing: 2px;
      .text-overflow(100%);
    }
    .other-news{
      width: 77%;
      padding-left: 0;
      padding-right: 0;
      .news-cont {
        margin-top: @p30;

        .news-cont-txt span,.news-cont-main a{
          color: @gray-light;
          letter-spacing: 1px;
          .text-overflow(100%);
        }


        .news-cont-txt {
          span{
            line-height: 1.5;
            white-space:nowrap;
            &.txt-a{
              font-weight:bold;
              color: @gray-dark;
            }
          }
        }

        .news-cont-main {
          margin-top:@p30;
          margin-bottom:@p30;
          a{
            font-size:@font-size-base;
            margin-bottom: @p10+5;
            white-space:nowrap;
            &:hover{
              color:@fore-color;
            }
          }
        }

        button {
          .new-btn();
          margin-top:@p30 - 5;
        }

      } // end new-cont
    } // end other-news
    .other-list{
      width: 23%;
      overflow: hidden;
      .list{
        margin-top:@p30 + 10;
        max-height:300px;
        overflow: hidden;
        ul{
          li{
            margin-bottom:@p10*2;
            .clearfix();
            span.listIcon{
              display: block;
              padding-left:@p10 - 5;
              padding-right:@p10 - 5;
              color:#fff;
              font-size:@font-size-base;
              text-align: center;
              background: @fore-color;
              float: left;
              font-weight: bold;
              vertical-align: text-top;
            }
            a{
              display: block;
              float: left;
              color: @gray-dark;
              margin-left: @p10*2;
              font-size:@font-size-base;
              .text-overflow(80%);
              &:hover{
                color: @fore-color;
              }
            }
          }
        }
      }
    }
  }  // end main-other
} // end main

.footer{
   background:@back-color;
   padding-top:@p30 + 10;
   padding-bottom:@p30 + 10;
   margin-top:@p30*3;
   .footer-inner{
       .copy-right{
         padding-left: 0;
         padding-right: 0;
         a{
           color:#fff;
           font-size:@font-size-h3;
         }
         span{
           color:@gray-small-light;
           font-size:@font-size-small;
         }
       }
     .social{
       .clearfix();
       a{
         @size:30px;
         display:block;
         float: right;
         width: @size;
         height: @size;
         line-height: @size + 5;
         border-radius: 50%;
         background: @gray;
         color: @gray-dark;
         text-align: center;
         font-size:@font-size-large;
         margin-left: @p10/2;
         &:hover{
           background-color: @fore-color;
           color: #fff;
         }
       }
     }
   }
  a.glyphicon{
    top:0;
  }
  a.back-top{
    @h:40px;
    position:fixed;
    right:3%;
    top:80%;
    display: block;
    height:@h;
    padding-left: @p10;
    padding-right: @p10;
    line-height:@h;
    background-color: #2B2B2B;
    color: #fff;
    font-size:@font-size-large;
    &:hover{
      background-color: @fore-color;
    }
  }
}

