/*header -> other*/
@media (max-width: 1200px){
    .head .head-inner .other .other-box button {
        width: 40%;
    }
}
@media (max-width: 992px){
    .head .head-inner .other .other-box button {
        width: 50%;
    }
}
@media (max-width: 768px){
    .head .head-inner .other .other-box button {
        width: 100%;
    }
}

/*main -> slide*/
@media (max-width: 1200px){
    .main .main-slider .slider .carousel ul.carousel-inner{
        height: 400px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .main .main-slider .slider .carousel ul.carousel-inner{
        height: 300px;
    }
}
                 /*小于768时*/
@media (max-width: 768px){
    .main .main-slider .slider .carousel ul.carousel-inner{
        height: 270px;
    }
}

/*main -> info*/
@media (max-width: 1200px){
    .main .main-info .info-cont .col-md-4 div.cont-txt,.main .main-info .info-cont .col-md-4 div.cont-txt-main{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .main .main-info .info-cont .col-md-4 div.cont-txt{
       max-height:30px;
         /*设置最大高度  让超出此高度的元素隐藏*/
    }
    .main .main-info .info-cont .col-md-4 div.cont-txt-main{
       max-height:115px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .main .main-info .info-cont .col-md-8,.main .main-info .info-cont .col-md-4{
        width: 100%;
    }
}
@media (max-width: 768px){
    .main .main-info .info-cont .col-md-8,.main .main-info .info-cont .col-md-4{
        width: 100%;
    }
}

/*main -> 产品推荐 item*/
@media(max-width: 992px){
  .main .main-productItem .productItem-cont .p-item-box .p-item.firstItem{
      height:450px;
      width: 100%;
  }
  .main .main-productItem .productItem-cont .p-item-box .p-item{
         /*按照-0.6的边距来算  99.4%*/
      height:200px;
      width:49.7%;
  }
  .main .main-productItem .productItem-cont .p-item-box .p-item:nth-last-child(1),.main .main-productItem .productItem-cont .p-item-box .p-item:nth-last-child(2){
      width:49.7%;
  }


    .main .main-productItem .productItem-cont .p-item-box .p-item:nth-child(even){
        margin-left: 0;
    }
}
/*main -> point*/
@media(max-width: 992px){
    .main .main-point .point-cont .col-md-12 div.point-cont-item:nth-child(even){
         margin-right:0;
    }
    .main .main-point .point-cont .col-md-12 div.point-cont-item{
         width:48.6%;
         margin-bottom:20px;
     }
    .main .main-point .point-cont .col-md-12 div.point-cont-item .read-more a span {
        height: 40px;
        line-height: 40px;
    }
}
@media(max-width: 768px){
    .main .main-point .point-cont .col-md-12 div.point-cont-item{
        width:100%;
        margin-right:0;
    }
}


/*main -> other*/
@media(max-width: 992px){
    .main .main-other .other-news,.main .main-other .other-list{
        float:left;
    }
    .main .main-other .other-news{
         width: 65%
     }
    .main .other-list{
        margin-left:5%;
        width: 30%;
    }
}

@media(max-width: 768px){
    .main .main-other .other-news,.main .other-list{
      width: 100%;
      float: none;
    }
    .main .other-list{
        margin-top:20px;
        margin-left:0;
    }
    .main .other-list .list{
        margin-top:20px;
    }
    .main .other-list .list ul li{
          width: 100%;
          margin-bottom: 10px;
          background: #1F1F1F;
          height: 50px;
          line-height: 50px;
    }
    .main .other-list .list ul li .listIcon{
           font-size: 0;
           height: 100%;
    }
    .main .other-list .list ul li a{
           color: #fff;
    }
}
/*news*/
@media (max-width: 1200px){
    .news-type .news-type-item{
         width: 31.9%;
     }
}
@media (max-width: 992px){
    .news-top .news-top-banner div.b-txt p {
        font-size: 16px;
    }
    .news-top .news-top-banner div.b-txt p span{
        font-size: 28px;
    }
    .news-type .news-type-item{
        width: 31.4%;
    }
}
@media (max-width: 768px){
    .news-top div.news-top-banner{
        height: 210px;
    }
    .news-top .news-top-banner div.b-txt{
        bottom: 0;
        top:inherit;
        height:50%;
        width: 100%;
        padding:20px;
    }
    .news-top .news-top-banner div.b-txt p {
        font-size: 12px;
    }
    .news-top .news-top-banner div.b-txt p span{
        font-size: 24px;
    }
    .news-type-box .news-type{
        float: none;
        left:0;
        position: relative;
        width:100%;
    }
    .news-type-box .news-type .news-type-item{
        width: 100%;
        right:0;
        float: none;
        height: 250px;
        overflow: hidden;
        margin-right:0;
    }
    .news-type-box .news-type div.news-type-item a{
        padding-top: 15%;
    }
}
/*列表页*/
@media (max-width: 992px){
    .main-news .news-list-main{
        float: none;
        width: 100%;
    }
    .main-news .news-list-main .news-type-list .news-list li a {
        width: 65%;
    }
}


/*search*/
@media (max-width: 992px){
    .search-box .tab,.search-box .search-side{
        width:100%;
    }
    .search-box .tab .tab-item .content .content-item .content-txt{
        width:65%;
    }
    .search-box .search-side{
        margin-left:0;
    }
    .search-box .search-side{
        display: none; !important;
    }

}
@media (max-width: 768px){
    .search-box .tab .tab-item .content .content-item .content-img {
        margin-right:4%;
        height: 100px;
        width: 110px;
    }

    .search-box .tab .tab-item .content .content-item .content-txt{
        width:59%;
    }
}
/*product-type 产品类型页*/

@media (max-width: 992px) {
    .product-type .p-type-main .item:hover .imagediv{
        transform:scale(1.2,1.2);
        -webkit-transform:scale(1.2,1.2);
    }
    .product-type .p-type-main .item .imagediv{
        margin-top:30px;
    }
    .product-type .p-type-main .item {
        height: 160px;
    }
}
@media (max-width: 768px){
    .product-type .p-type-main .item {
      width:100%;
      margin-right:0;
    }
}

/*product-type 产品列表页*/
@media (max-width: 992px) {
    .product-type-pList .type-pList {
        float: left;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .product-type-pList .type-pList .product-pList .pList-main .pList-item{
            width: 49.3%;
    }
    .product-type-pList .type-pList .product-pList .pList-main .pList-item .pList-item-inner .item-img img {
            width: 65%;
    }
    .product-type-pList .type-pList .product-pList .pList-main .pList-item:nth-child(even){
            margin-right: 0;
    }

    .product-type-pList .type-pList .product-pList .pList-top .pList-search {
        width: 100%;
        float:left;
    }

}

/*sidebar*/
@media (max-width: 992px) {
    .side{
        margin-bottom:20px;
    }
    .side-bar .side-bar-top a.menu-down{
        display: block;
    }
    .side-bar .side-bar-middle{
        overflow: hidden;
        height: 0;
    }
}
/*产品详情页*/
@media(max-width: 992px){
    .product-detail .p-detail-box{
        float: none;
        width: 100%;
    }
    .product-detail .p-detail-box .p-detail .p-detail-top .p-img .p-img-mainImg {
        height: 460px;
    }
    .product-detail .p-detail-box .p-detail .p-detail-top .p-info {
        margin-top:20px;
        margin-left:0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .product-detail .p-detail-box .p-detail .p-detail-top .p-info .p-info-block .buy{
         width:100%;
     }
    .product-detail .p-detail-box .p-detail .p-detail-top .p-info .p-info-block .price{
         width:100%;
    }
}


@media (max-width: 768px) {
    .product-detail .p-detail-box .p-detail .p-detail-body .body-detail .expand{
        margin-bottom:1px;
    }
    .product-detail .p-detail-box .p-detail .p-detail-body .body-detail .expand .expand-content {
        padding-top: 0;
        overflow: hidden;  /*只有元素被收缩时 才会触发slide滑动动画*/
        height: 0;/*桌面端默认是有height值的 所以无法触发height动画 */
    }
    .product-detail .p-detail-box .p-detail .p-detail-body .body-detail .expand .expand-content ul li {
        width: 100%;
    }
}


/*关于我们*/
@media(max-width: 992px){
        .col-md-6{
            padding-right:0;
        }
}
@media(max-width: 768px){
    .about .about-other .other-intro .intro-expand .expand-content .content-info {
        margin-left: 15%;
    }
}

/*foot*/
@media(max-width: 992px){
    .copy-right,.social{
        width: 50%;
        float: left;
    }
}
