@fore-color:@brand-primary;
@back-color:#1F1F1F;
@my-font-color:#D0D0D0;
@middleMargin:0 auto;
@p30:30px;
@p10:10px;
ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
a{
  text-decoration:none;
}
ul li a:hover,ul li a:focus,div a:hover,div a:focus{
  text-decoration:none;
}
.text-overflow(@maxWidth:100%){
  display:block;
  max-width:@maxWidth;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
};
.transition(@style:all,@interval:0.75s,@type:linear){
  transition:@style @interval @type;
  -webkit-transition:@style @interval @type;
  -moz-transition:@style @interval @type;
}
.translateX(@pix){
  -webkit-transform: translateX(@pix);
  -moz-transform:translateX(@pix) ;
  transform:translateX(@pix);
};
.box-shadow(@x,@y,@b,@color:@gray-lighter){
  box-shadow:@x @y @b @color;
  -webkit-box-shadow:@x @y @b @color;
  -moz-box-shadow:@x @y @b @color;
}

.container .row{  // 清除bootstrap默认的边距 统一所有
  margin-left:0;
  margin-right:0;
}

.container .col-md-4,.container .col-md-3{ // 清除bootstrap默认的边距 统一所有
  padding-right: 0;
  padding-left: 0;
}
.border(top,@size:1px,@type:solid,@color:@back-color){
  border-top:@size @type @color;
}
.border(left,@size:1px,@type:solid,@color:@back-color){
  border-left:@size @type @color;
}
.border(right,@size:1px,@type:solid,@color:@back-color){
  border-right:@size @type @color;
}
.border(bottom,@size:1px,@type:solid,@color:@back-color){
  border-bottom:@size @type @color;
}
.border(@size:1px,@type:solid,@color:@gray-lighter){
  border:@size @type @color;
}
.new-btn(@backgroundColor:@back-color){
  font-size:@font-size-large - 2;
  background:@backgroundColor;
  color: #fff;
  padding-left:@p10*2;
  padding-right:@p10*2;
  font-weight:bold;
  margin-top:@p10 + 2;
}
// 因为是共用的 所以前面归类为 commonVar.less 单独文件 @import引入即可);



//分页
.page{
  ul {
    .clearfix();
    li {
      display: inline;
      a{
        text-align: center;
        background: @back-color;
        color: #fff;
        float: left;
        line-height: 1.42857;
        padding-left:@p10*2;
        padding-right:@p10*2;
        padding-top:@p10;
        padding-bottom:@p10;
        position: relative;
        margin-right:2%;
        &:active{
          background:@fore-color;
        }
        &.pageActive {
          background:@fore-color;
        }
      }
    }
  }
}