
.side-bar{
  .side-bar-top{
    @m:30px;
    width: 100%;
    padding-top: @p10 * 2;
    padding-bottom: @p10 * 2;
    background-color: @back-color;
    position: relative;
    text-align: center;
    color:@gray-small-light;
    .border(bottom,1px,solid,@gray);
    span{
      font-size:@font-size-h3;
    }
    span.glyphicon{
       top:3px;
    }
    a.menu-down{
      @h:75px;
      height: 100%;
      line-height:@h;
      vertical-align:middle;
      position: absolute;
      right: 0;
      display: none;
      width:20%;
      font-size:@font-size-large + 4;
      color:#fff;
      cursor: pointer;
      .border(left,1px,solid,@gray-light);
      &:hover,&:active{
        background: @fore-color;
      }
    }
  }
  .side-bar-middle{
    .transition(all,0.4s,linear);
    .transform(translate3d(0,0,0));
    ul{
      margin-bottom:0;
      li{
        a{
          @h:60px;
          height: @h;
          line-height: @h;
          display:block;
          background:@back-color;
          font-size:@font-size-large;
          color:@gray-light;
          text-align: center;
//          .border(bottom,1px,solid,#e7e7e7);
          &.sideNavActive{
            color: #fff;
            background:@fore-color;
          }
        }
      }
    }
  } //end middle

  .side-bar-bottom{
      display:none;
      margin-top:@p10;
    p{
      text-align: center;
    }
  }
}// end side-bar