<div class="search-box row">

<div class="loading" ng-hide="loaded"><img src="img/loading.gif" alt="加载中..."/></div>
<div class="tab col-md-8">
    <div ng-repeat="tab in tabs | orderBy:'listCount':true" class="tab-item">
        <a class="tab-item-title" ng-click="changeTab($index)" ng-class="{tabTitleActive:currIndex == $index}">{{tab.typeTitle}}<span>({{tab.listCount }})</span></a>
        <div class="content" ng-show="currIndex == $index">
            <div ng-show="tab.listData.length==0" class="not-found"><span>Sorry,未找到...</span></div>
            <div ng-repeat="tabList in tab.listData" class="content-item"  adapt-height>
                <a ng-hide="tabList.img == undefined" class="content-img"><img ng-src="{{tabList.img}}" /></a>
                <div class="content-txt">
                    <a href="{{tabList.url}}" class="txt-title">{{tabList.title}}</a>
                    <p class="txt-cont">{{tabList.content}}</p>
                </div>
            </div> <!--end tabList-->
        </div> <!--end conetent-->

        <div class="search-page" ng-show="currIndex == $index && tab.listData.length > 0"> <!--同时满足当前索引和存在搜索数据两个条件才能显示分页-->
            <ul class="pagination pagination-lg">
                <li ng-repeat="page in tab.pages.pageItem" ng-class="{active:tab.pages.pageActive($index+1)}"><a href="javascript:void(0)" ng-click="tab.pages._pageLoad($index+1)">{{$index+1}}</a></li>
            </ul>
        </div> <!--END Page-->

    </div>
</div>

<div class="search-side col-md-4">
    <div class="other-list">
        <h3>热门搜索</h3>
        <div class="list">
            <ul>
                <li ng-repeat="hotWord in hotWords track by $index">
                    <span class="listIcon"> > </span>
                    <a href="javascript:void(0);" ng-click="search(hotWord)">{{hotWord}}</a>
                </li>
            </ul>
        </div>
    </div>
</div><!--end search-side -->

</div> <!--end search-box -->

