<!DOCTYPE html>
<html ng-app="bulbApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--Less.js编译.less文件并进行本地存储-->
    <!--<link rel="stylesheet/less" href="../less/main.less"/>-->
    <!--<link rel="stylesheet/less" href="../less/bootstrapLess/bootstrap.less"/>-->
    <link rel="stylesheet" href="../less/css/main.css"/>
    <link rel="stylesheet" href="../less/css/media.css"/>
    <title>Bulb App</title>
</head>
<body ng-controller="mainCtrl">

  <div class="nav-mobile visible-xs" ng-class="{showNav:showNav}">
    <button class="nav-mobile-btn glyphicon glyphicon-menu-hamburger" ng-click="showNav = !showNav"></button>
    <ul class="nav-mobile-menu">
        <li ng-repeat="navMenu in navMenus" ng-class="{activeNav:$index == moveCurrent}" ng-mouseover="moveSelect($index)">
            <a href="{{navMenu.navUrl}}">{{navMenu.navName}}</a>
        </li>
    </ul>
 </div><!--end nav-mobile-->

  <div class="head container-fluid">
        <div class="head-inner container">
            <div class="logo col-md-8">
                <h1>
                    <a href="/index">BUIB<font color="#FEC60D">X·</font></a>
                    <span>THE BEST QUILITY PRODUCT!</span>
                </h1>
            </div>
            <!--end logo-->
            <div class="other col-md-4">
                 <P>WWW.BULBX.COM</P>
                 <div class="other-box">
                     <button class="btn btn-primary"><span class="glyphicon glyphicon-bell"></span>服务中心</button>
                     <button class="btn btn-default"><span class="glyphicon glyphicon-earphone"></span>联系我们</button>
                 </div>
            </div>
            <!--end other-->
        </div> <!-- end head-inner-->
  </div><!--head-->

  <div class="main container">
        <div class="main-top row">
         <div class="nav col-md-8">

             <ul class="nav-menu hidden-xs">
                 <li ng-repeat="navMenu in navMenus" class="navItem" ng-class="{navActive:$index == 0}" ng-mouseover="moveSelect($index)">
                     <a href="{{navMenu.navUrl}}" class="navItemLink">{{navMenu.navName}}</a>
                     <span ng-show="navMenu.navChild.length >= 1" class="itemIcon">﹀</span>
                     <ul class="nav-menu-two" ng-hide="navMenu.navChild.length < 1">
                         <li ng-repeat="navChildTwo in navMenu.navChild"><a href="{{navChildTwo.navUrl}}">{{navChildTwo.navName}}</a></li>
                     </ul>  <!--end nav-menu-two -->

                 </li>
             </ul><!--end nav-menu-->


         </div><!--end nav-->

         <div class="search col-md-4">
             <form class="form-group" action="/">
                 <input type="text" class="form-control" placeholder="请输入关键字.." />
                 <span class="glyphicon glyphicon-search form-control-feedback"></span>
                 <input type="submit" hidden="hidden"/>
             </form>
         </div><!--end search-->
      </div> <!--end main-top -->

     <div class="main-slider row">
        <div class="slider col-md-12" ng-controller="sliderCtrl">
            <carousel interval="20000">
                <slide ng-repeat="slide in slides">
                    <a href="###">
                       <img ng-src="{{slide.src}}"/>
                       <div class="slider-txt-box" ng-class="{sliderTxtActive:slideActive($index)}">
                         <span class="glyphicon glyphicon-pushpin"></span>
                         <span class="slider-txt">{{slide.txt}}</span>
                       </div> <!--end slider-txt-->
                    </a>
                </slide>
            </carousel>
        </div>
     </div><!--end main-slider-->

      <div class="main-info row" ng-controller="infoCtrl">
          <div class="info-title">
              <h3>高新技术的现代化设备和团队</h3>
          </div>
          <div class="info-cont">
             <div class="col-md-8">
                <div class="cont-img" ng-repeat="infoCont in infoConts">
                    <img ng-src="{{infoCont.src}}"/>
                </div>
             </div>
             <div class="col-md-4">
                 <h4>{{infoTitle}}</h4>
                 <div class="cont-txt">{{infoCont}}</div>
                 <div class="cont-txt-main">{{infoContMain}}</div>
                 <button class="btn btn-primary">更多</button>
             </div>
          </div>
      </div><!--end main-info-->

      <div class="main-productItem row" ng-controller="productItemCtrl">
          <div class="productItem-head">
              <h3>产品推荐方案</h3>
          </div>

          <div class="productItem-cont">

              <div class="p-left col-md-4">
                  <a href="###" class="p-item p-right-item">
                      <img ng-src="{{pLeft.img}}"/>
                      <span>{{pLeft.txt}}</span>
                  </a>
              </div>

              <div class="p-right col-md-8">
                  <a href="###" ng-repeat="pRight in pRights" class="p-item p-left-item">
                      <img ng-src="{{pRight.img}}"/>
                      <span>{{pRight.txt}}</span>
                  </a>
              </div>

          </div><!--end productItem-cont-->
      </div><!--end main-product -->


      <div class="main-point row" ng-controller="pointCtrl">
          <div class="point-head">
              <h3>核心技术服务</h3>
          </div>

          <div class="point-cont">
             <div class="col-md-12">

                 <div class="point-cont-item" ng-repeat="point in points" ng-class="{clearRightMargin:$index == points.length - 1}">
                     <h4>{{point.title}}</h4>
                     <div class="cont-item-icon">
                         <a class="glyphicon {{point.icon}}"></a>
                         <span>{{point.intro}}</span>
                     </div>
                     <div class="cont-item-desc">{{point.desc}}</div>
                     <button class="btn btn-default">更多</button>
                 </div>  <!--end point-cont-item-->


             </div>
          </div>  <!-- end point-cont-->
      </div><!--end main-point-->


      <div class="main-other row" ng-controller="otherCtrl">
          <div class="other-news col-md-8">
               <h3>提供专业化的工业设计生产服务和顶尖的<br/>国内制造团队</h3>
               <div class="news-cont">
                    <div class="news-cont-txt">
                       <span class="txt-a">工业服务和生产制造专业人员工业服务和生产制造专业人员工业服务和生产制造专业人员</span>
                       <span>工业服务和生产制造专业人员工业服务和生产制造专业人员工业服务和生产制造专业人员风微风菲菲</span>
                    </div>
                    <div class="news-cont-main">
                        <a href="###" ng-repeat="otherNew in otherNews">● {{otherNew.content}}</a>
                    </div>
                   <div class="news-cont-txt">
                       <span>工业服务和生产制造专业人员工业服务和生产制造专业人员工业服务和生产制造专业人员</span>
                       <span>工业服务和生产制造专业人员工业服务和生产制造专业人员工业服务和生产制造专业人员风微风菲菲</span>
                   </div>

                    <button class="btn btn-default">更多</button>
               </div>
          </div><!--end other-news -->
          <div class="other-list col-md-4" ng-controller="listCtrl">
              <h3>热点新闻</h3>
              <div class="list">
                  <ul>
                      <li ng-repeat="hotNew in hotNews track by $index">
                         <span class="listIcon"> > </span>
                         <a href="/product/{{hotNew.name}}">{{hotNew.name}}</a>
                      </li>
                  </ul>
              </div>
          </div><!--end other-list -->
      </div>  <!--end main-other -->
  </div><!--end main-->
  <div class="footer container-fluid">
      <div class="footer-inner container">
         <div class="copy-right col-md-8">
             <a href="###">BUIBX</a>
             <span> © 2015 | XXX版权所有</span>
         </div>
         <div class="social col-md-4">
             <a href="###" class="glyphicon glyphicon-phone"></a>
             <a href="###" class="glyphicon glyphicon-heart"></a>
             <a href="###" class="glyphicon glyphicon-star"></a>
             <a href="###" class="glyphicon glyphicon-cloud"></a>
         </div>
      </div>
      <a class="back-top glyphicon glyphicon-triangle-top visible-lg" href="#top"></a>
  </div>
  <!--end footer-->



  <!--<script src="less/less.js"></script>-->
  <script src="../lib/framework/jquery-1.9.1.js"></script>
  <script src="../lib/framework/angular.js"></script>
  <script src="../lib/framework/angular-route.js"></script>
  <script src="../lib/framework/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="../script/app.js"></script>
</body>
</html>