<div class="side-bar" ng-controller="bulbSideCtrl">
       <div class="side-bar-top">
           <span class="glyphicon {{Side.typeIcon}}" ng-hide="Side.typeIcon == undefined"></span>
           <span>{{Side.typeTxt}}</span>
       </div><!--end side-top-->
       <div class="side-bar-middle">
           <ul>
               <li ng-repeat="sideNav in Side.sideNavs">
                   <a href="{{sideNav.navUrl}}" ng-class="{sideNavActive:activeSideNav($index)}">{{sideNav.navName}} <span class="glyphicon glyphicon-chevron-right"></span></a>
               </li>
           </ul>
       </div> <!--end side-middle-->
       <div class="side-bar-bottom">
           <p>服务热线：18948318934</p>
           <p>图文传真：0755-4455653</p>
           <p>电子邮箱：superbulb@163.com</p>
           <p>联系地址：佛山市中山区福永镇福海工业区C7栋5楼</p>
       </div> <!--end side-bottom -->
   </div>