<!DOCTYPE html>
<html ng-app="bulbApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--Less.js编译.less文件并进行本地存储-->
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet/less" href="less/main.less"/>
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/main.css"/>-->
    <link rel="stylesheet" href="css/media.css"/>
    <title>BulbX照明</title>
</head>
<body ng-controller="bulbMainCtrl">
  <div class="nav-mobile visible-xs">
    <ul class="nav-mobile-menu">
        <li ng-repeat="navMenu in navMenus" ng-class="{activeNav:moveCurrent == $index}" ng-click="moveSelect($index)">
            <a href="#/{{navMenu.navUrl}}">{{navMenu.navName}}</a>
        </li>
    </ul>
 </div><!--end nav-mobile-->

<div class="app-main" ng-class="{showNav:showNav}">
    <div class="head container-fluid">
        <a href="javascript:void(0)" class="nav-mobile-btn glyphicon glyphicon-menu-hamburger visible-xs" ng-click="showNav = !showNav"></a>
        <div class="head-inner container">
            <div class="logo col-md-8">
                <h1>
                    <a href="#/">BUIB<b>X·</b></a>
                    <span>THE BEST QUILITY PRODUCT!</span>
                </h1>
            </div>
            <!--end logo-->
            <div class="other col-md-4">
                <P>WWW.BULBX.COM</P>
                <div class="other-box">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-bell"></span>服务中心</button>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-earphone"></span>联系我们</button>
                </div>
            </div>
            <!--end other-->
        </div> <!-- end head-inner-->
    </div><!--head-->

    <div class="main container view-container">
        <div class="main-top row">
            <div class="nav col-md-8">

                  <ul class="nav-menu hidden-xs">
                    <li ng-repeat="navMenu in navMenus" class="navItem" ng-class="{navActive:moveCurrent == $index && moveCurrent > 0}" ng-click="moveSelect($index)">
                        <a href="#/{{navMenu.navUrl}}" class="navItemLink">{{navMenu.navName}}</a>
                        <span ng-show="navMenu.navChild.length >= 1" class="itemIcon">﹀</span>
                        <ul class="nav-menu-two" ng-hide="navMenu.navChild.length < 1">
                            <li ng-repeat="navChildTwo in navMenu.navChild"><a href="{{navChildTwo.navUrl}}">{{navChildTwo.navName}}</a></li>
                        </ul>  <!--end nav-menu-two -->

                    </li>
                </ul><!--end nav-menu-->


            </div><!--end nav-->

            <div class="search col-md-4">
                <form class="form-group" ng-submit="search()">
                    <input type="text" ng-model="searchWord" class="s-txt form-control" placeholder="请输入关键字,如 LED" required/>
                    <input type="submit" class="s-sub btn btn-default" value="搜 索"/>
                </form>
            </div><!--end search-->

        </div> <!--end main-top -->
        <div class="view-loading" ng-hide="showViewLoading">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>  <!--end showViewLoading-->
        <div ng-view class="view-frame" ng-hide="hideView">
        </div> <!--end ng-view-->

    </div><!--end main-->
    <div class="footer container-fluid">
        <div class="footer-inner container">
            <div class="copy-right col-md-8">
                <a href="###">BUIBX</a>
                <span> © 2015 | XXX版权所有</span>
            </div>
            <div class="social col-md-4">
                <a href="javascript:void(0)" class="glyphicon glyphicon-phone"></a>
                <a href="javascript:void(0)" class="glyphicon glyphicon-heart"></a>
                <a href="javascript:void(0)" class="glyphicon glyphicon-star"></a>
                <a href="javascript:void(0)" class="glyphicon glyphicon-cloud"></a>
            </div>
        </div>
    </div>    <!--end footer-->
</div>  <!--end app-main-->
<a class="back-top glyphicon glyphicon-triangle-top visible-lg" back-top href="javascript:void(0)"></a>

  <script src="less/less.js"></script>
  <script src="lib/framework/min/jquery.min.js"></script>
  <script src="lib/framework/min/angular.min.js"></script>
  <script src="lib/framework/min/angular-animate.min.js"></script>
  <script src="lib/framework/min/angular-resource.min.js"></script>
  <script src="lib/framework/min/angular-route.min.js"></script>
  <script src="script/app.js"></script>
  <script src="script/animations.js"></script>
  <script src="script/controllers.js"></script>
  <script src="script/directive.js"></script>
  <script src="script/services.js"></script>
</body>
</html>