<div class="main-detail-news row">
    <div class="col-md-3" class="side" ng-include="'views/sidebar/sidebar.html'"></div>
    <div class="col-md-9 news-list-details">
        <div class="section">
            <h2 class="section-title">{{newDetails.title}}</h2>
            <div class="section-intro">
                <span class="author">作者: {{newDetails.author}}</span>
                <span class="date">时间: {{newDetails.date}}</span>
            </div>
            <div class="section-content">
                <div class="article">
                    <div class="article-img" ng-hide="!newDetails.imgCollect"><img ng-src="{{newDetails.imgCollect[0]}}"/></div>
                     <div class="article-txt" format-section="newDetails.content">
                     </div>
                </div>

            </div> <!--end section-content -->
        </div>

    </div>

</div><!--end main row-->
