
<div class="news-top" ng-include="'views/news/news-top.html'"></div>
<div class="news-type">
    <div ng-repeat="newsTypeMenu in newsType" class="news-type-item" ng-hide="$index >= 6">
        <img ng-src="{{newsTypeMenu.typeImg}}" alt="{{newsTypeMenu.navName}}"/>
        <a href="{{newsTypeMenu.navUrl}}">
            <!--使用src={{}}的话会出现解析顺序的错误 ，所以使用ng-src-->
            <span>{{newsTypeMenu.navName}}</span>
            <button class="btn btn-primary">进入列表</button>
        </a>
    </div>
</div>
