<div class="product-type">
    <div class="p-type-title">按产品类型浏览</div>
    <div class="p-type-main row">
        <div class="item" ng-repeat="productType in productsType">
            <div class="imagediv">
                <div>
                    <a href="{{productType.navUrl}}">
                        <img width="80" ng-src="{{productType.typeImg}}">
                    </a>
                </div>
            </div>

            <div class="linkdiv">
                <a href="{{productType.navUrl}}">{{productType.navName}}</a>
            </div>

        </div> <!--end item-->
    </div> <!--end p-type-main-->
</div>  <!--end product-type-->