<div class="product-type-pList row">
    <div class="side col-md-3" ng-include="'views/sidebar/sidebar.html'">
    </div> <!--end type-side-->

    <div class="type-pList col-md-9">
        <div class="product-pList">
             <div class="pList-top">
                 <h3>{{nowTypeName}}类型产品列表</h3>

                 <div class="pList-search has-feedback">
                     <input type="text" class="form-control" ng-model="sWord" placeholder="产品即时搜索">
                     <span class="glyphicon glyphicon-search form-control-feedback"></span>
                 </div>

             </div><!--end pList-top -->

             <div class="pList-main row">           <!--filter 匹配输入的title-->
                 <div ng-repeat="pList in pLists | filter:{title:sWord}" class="pList-item col-md-3">
                     <div class="pList-item-inner">
                          <div class="item-img">
                             <a href="#/products/{{nowType}}/{{pList.id}}">
                                 <img real-src="{{pList.imgCollect[0]}}" alt="{{pList.title}}"/>
                             </a>
                          </div> <!--end pList-img-->

                         <div class="item-txt">
                             <a href="#/products/{{nowType}}/{{pList.id}}">
                                {{pList.title}}
                             </a>
                         </div> <!--end pList-txt-->
                     </div>
                 </div>

             </div><!--end pList-main -->

        </div> <!--end produt-pList -->

        <div class="product-page">
            <ul class="pagination pagination-lg">
                <li><a href="javascript:void(0);" ng-click="Pages.indexPage()">首页</a></li>
                <li><a href="javascript:void(0);" ng-click="Pages.prevPage()">上一页</a></li>
                <li ng-repeat="page in Pages.pageItem" ng-class="{active:Pages.pageActive($index+1)}"><a href="javascript:void(0);" ng-click="Pages.loadPage($index+1)">{{$index+1}}</a></li>
                <li><a href="javascript:void(0);" ng-click="Pages.nextPage()">下一页</a></li>
                <li><a href="javascript:void(0);" ng-click="Pages.lastPage()">尾页</a></li>
            </ul>
        </div> <!--end product-page-->

    </div> <!--end type-pList-->



</div><!-- end product-type-->